
.crooper img {
  width: 100%;
  object-fit: contain;
}
.cropper .reactEasyCrop_CropAreaGrid {
  width: 300px !important;
  height: 300px !important;
  color: rgba(255, 255, 255, 0.5);
}
.slider {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.slider input[type="range"] {
  -webkit-appearance: none;
  width: 55%;
  height: 4px;
  background: #ced0d4;
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 2px var(--shadow-1), 0 2px 2px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  border: 1px solid var(--bg-third);
}

.slider_circle {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}