@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


@theme{
    --color-light-primary: #fff;
    --color-light-secondary: #f0f2f5;
    --color-light-third: #e4e6eb;
    /* --color-light-primary: #050505; */
    --color-light-text: #65676b;
    --color-light-blue: #e7f3ff;
    /* dark mode  */
    --color-dark-main: #18191a;
    --color-dark-second: #242526;
    --color-dark-third: #3a3b3c;
    --color-dark-text:#b0b3b8;

    --color-blue: #1877f2;
    --color-green: #42b72a;

    --font-poppins: "Poppins",Arial, sans-serif;

    --shadow-box: 2px 0px 50px 1px rgb(0 0 0 / 0.25);
}


@layer components{
  .preview1 {
    width: 100%;
    height: 100%;
  }
  .preview1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .preview2 {
    height: 100%;
    display: flex;
    gap: 2px;
  }
  .preview2 img {
    width: 50%;
    height: 230px;
    object-fit: cover;
  }
  .preview3 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
   
  }
  .preview3 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .preview3 img:nth-child(1) {
    grid-column: 1/3;
  }
  .preview4 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  .preview4 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .preview4 img:nth-child(1) {
    grid-column: 1/4;
  }
  .preview5 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
  }
  .preview5 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    grid-column: auto / span 2;
  }
  .preview5 img:nth-child(1),
  .preview5 img:nth-child(2) {
    grid-column: auto / span 3;
  }
  .preview6 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
  .preview6 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .singular_grid img:nth-child(1) {
    grid-column: 1/3;
  }

  .like:hover {
    display: none;
  }


  /*-----------------------------GRID IMAGES----------------*/
  .grid_1 img {
    width: 100%;
    height: 610px;
    object-fit: cover;
  }
  .grid_1 {
    display: flex;
    height: 610px;
    justify-content: center;
  }
  .grid_2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: #fff;
    gap: 1px;
  }
  .grid_2 img:first-of-type {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 610px;
    object-fit: cover;
  }
  .grid_2 img:last-of-type {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 610px;
    object-fit: cover;
  }
  .grid_3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #fff;
    gap: 1px;
  }
  .grid_3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid_3 .img-0 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 610px;
    object-fit: cover;
  }
  .grid_3 .img-1 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
  }
  .grid_3 .img-2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }
  .grid_4 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #fff;
    gap: 1px;
  }
  .grid_4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid_4 .img-0 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
  }
  .grid_4 .img-1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }
  .grid_4 .img-2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }
  .grid_4 .img-3 {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }
  .grid_5 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    background: #fff;
    gap: 1px;
  }
  .grid_5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid_5 .img-0 {
    width: 100%;
    grid-column: auto / span 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
  }
  .grid_5 .img-1 {
    width: 100%;
    grid-column: auto / span 3;

    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
  }
  .grid_5 .img-2 {
    width: 100%;
    grid-column: auto / span 2;

    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }
  .grid_5 .img-3 {
    width: 100%;
    grid-column: auto / span 2;

    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }
  .grid_5 .img-4 {
    width: 100%;
    grid-column: auto / span 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
  }

  .more-pics-shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 305px;
    width: 33.33%;
    background: #94949454;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
  }
}

.notification:hover .more{
  visibility: visible;
} 

/*----Scrollbar----*/

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}
/*----Scrollbar----*/




